name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: kivy/buildozer
      env:
        BUILDOZER_ALLOW_ROOT: 1
        LC_ALL: C.UTF-8
        LANG: C.UTF-8

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Fix Root Mode Interactive Issue
        run: |
          echo "[buildozer]" >> buildozer.spec
          echo "allow_root = 1" >> buildozer.spec

      - name: Build APK
        run: |
          buildozer android clean || true
          buildozer android debug

      - name: Upload APK Artifact
        uses: actions/upload-artifact@v4
        with:
          name: StockViewerIndia-APK
          path: bin/*.apk
